body {
  font-family: "Teko", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #000000;
  width: 99%;
  height: 100%;
  background-image: url(./images/other/background.jpg);
  background-size: contain 1200px;
  font-size: 12px;
  margin: 0 auto;
  overflow-x: hidden;
}

i {
  color: #bfa317;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #bfa317;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px white, -2px -2px white;
}

.header a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header a:hover {
  color: #bfa317;
}

/* ------------------------------------------------ */
/* NESTED BORDERS vvv */
.outer-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  background: rgba(255, 255, 255, 0.2);
  border: #bfa317 2px solid;
  box-shadow: 2px 2px white, -2px -2px white;
}

.middle-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  border: #9e8820 5px solid;
  box-shadow: 2px 2px white, -2px -2px white;
}

.inner-border {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #bfa317 3px solid;
  box-shadow: 2px 2px white, -2px -2px white;
}

/* ------------------------------------------------ */
/* NAV BAR  */
.nav-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: -1px;
  width: 110%;
}

/* ------------------------------------------------ */
/* DROPDOWN MENU vvvv */
.dropdown-menu {
  background: rgb(255, 255, 255);
  border-bottom: 2px #bfa317 solid;
  border-left: 2px #bfa317 solid;
  border-right: 2px #bfa317 solid;
  text-align: center;
  font-size: 1.3rem;
  display: none;
  position: absolute;
  top: 45px;
  z-index: 20;
}

.dropdown-menu i {
  color: black;
}

.dropdown-menu ul {
  display: block;
  list-style-type: disc;
  margin: 0em;
  padding: 0em;
}

.dropdown-menu li {
  margin-top: 15px;
}

.dropdown-menu#menu-1 {
  left: 115px;
  width: 95px;
  height: 150px;
}

.dropdown-menu#music-1 {
  left: 111px;
  width: 95px;
  height: 148px;
}

.dropdown-menu#film-2 {
  left: 214px;
  width: 95px;
  height: 148px;
}

.dropdown-menu#games-3 {
  left: 317px;
  width: 95px;
  height: 148px;
}
.menu-list-icon {
  margin-top: 0;
  margin-bottom: 5;
}

.menu-item-list a {
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  color: black;
}

.menu-item-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.menu-item-list li {
  list-style: none;
  text-align: center;
}

.menu-item-list a:hover {
  color: #bfa317;
}
/* ------------------------------------------------ */
/* FOOTER vvvv */
.footer-outer-border {
  margin-top: 20px;
}

.footer-parent {
  width: 100%;
  margin: 10px 0 10px 0;
}

.footer-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-contact-icons i {
  color: #bfa317;
}

.footer-contact-icons i:hover {
  color: black;
  cursor: pointer;
}

/* NEWS */

.news-content {
  margin: 5px;
  padding: 5px;
  border: #bfa317 1px solid;
  font-size: 3rem;
}

/* ------------------------------------------------ */
/* MOBILE LAYOUT vvvv */
@media (max-width: 599px) {
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px white, -2px -2px white;
  }

  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: #bfa317 2px solid;
  }

  .featured-thumbnail {
    width: 95%;
  }

  /* LEFT CONTENT */
  .left-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  .left-content-heading {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    font-size: 2.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left-content-subheading {
    text-align: center;
    font-size: 1.2rem;
    height: 40px;
  }

  .left-content-inner-border {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2px;
    border: #bfa317 4px solid;
  }

  .heading {
    font-family: "UnifrakturCook", cursive;
    font-size: 1.9rem;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .sub-heading {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 0.9rem;
  }

  .featured-excerpt {
    height: auto;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  /* RIGHT CONTENT */

  .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    text-align: center;
    margin: 10px;
  }

  .right-content-outer-border {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.1);
    border: #bfa317 4px solid;
    width: 100%;
  }

  .right-content h1 {
    font-family: "UnifrakturCook", cursive;
    font-size: 2.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    display: none;
  }

  .show-menu {
    opacity: 1;
    transform: translateX(0%);
  }

  .review-link {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: #bfa317 1px solid;
  }

  .review-link button {
    font-family: "Teko", sans-serif;
    width: 100%;
    font-size: 2em;
    color: black;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  .review-link button:hover {
    color: #bfa317;
    text-decoration: none;
  }

  .modal-heading {
    color: black;
    font-size: 1.6rem;
    text-align: left;
    font-family: "UnifrakturCook", cursive;
  }

  .modal-subheading {
    color: black;
    font-size: 1.4rem;
    text-align: left;
    font-family: "Teko", sans-serif;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* ------------------------------------------------ */
/* TABLET LAYOUT vvvv */
@media (min-width: 600px) {
  .featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: #bfa317 2px solid;
  }

  .show {
    display: block;
  }

  .mobile-button-open {
    display: none;
  }

  .mobile-button-close {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu i {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  .heading {
    font-family: "UnifrakturCook", cursive;
    font-size: 2.9rem;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .sub-heading {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 1.3rem;
  }

  .desktop-navbar-buttons {
    width: 80%;
    font-size: 1.5rem;
    font-family: "UnifrakturCook", cursive;
  }
  .desktop-navbar-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .button {
    margin-right: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
  }

  .button:hover {
    color: #bfa317;
    cursor: pointer;
  }

  .button a {
    text-decoration: none;
    color: black;
  }

  .button a:hover {
    color: #bfa317;
    cursor: pointer;
  }

  .main-content {
    width: 100%;
    display: block;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
  }

  .right-content-outer-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.2);
    border: #bfa317 2px solid;
    width: 100%;
  }
  .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;

    text-align: center;
    margin: 10px;
  }
  .right-content h1 {
    font-family: "UnifrakturCook", cursive;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .review-link button {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  .review-link button:hover {
    color: #bfa317;
    text-decoration: none;
  }
  .review-link {
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);

    border: #bfa317 4px solid;
  }
  .review-link a:hover {
    cursor: pointer;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 10px;
  }

  .left-content-heading {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    font-size: 2.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left-content-subheading {
    text-align: center;
    font-size: 1.6rem;
  }

  .left-content-inner-border {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px;
    border: #bfa317 4px solid;
  }

  .featured-thumbnail {
    width: 100%;
  }

  .featured-excerpt {
    height: auto;
    width: 50%;
    margin: 5px;
    text-align: center;
    font-size: 1.6rem;
  }

  /* ------------------------------------------------ */
  /* REVIEW CONTENT TABLET*/

  /* .album-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 315px;
    padding: 5px;
  }

  .film-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 450px;
    padding: 5px;
  }

  .game-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 400px;
    padding: 5px;
  } */

  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  /* ------------------------------------------------ */
  /* MUSIC INDEX PAGE TABLET*/
  /* .music-nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    font-family: "UnifrakturCook", cursive;
  }

  .music-nav li {
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  .music-nav a {
    color: black;
    text-decoration: none;
  }

  .music-nav a:hover {
    color: #bfa317;
  } */

  /* ------------------------------------------------ */
  /* MUSIC REVIEW CONTENT DESKTOP*/

  /* .review-header li {
    text-align: center;
    font-size: 1rem;
    list-style: none;
  }

  .review-header-ul {
    padding-left: 0;
  }

  .review-header span {
    font-size: 4rem;
    font-family: "UnifrakturCook", cursive;
  }

  .music-review-content {
    background: rgba(255, 255, 255, 0.8);
    margin: 1% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 85%;
    border: #bfa317 6px solid;
  }

  .content-paragraph {
    font-size: 1.5rem;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding-right: 10px;
  } */

  .music-review-content-inner-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #bfa317 1px solid;
    box-shadow: 2px 2px white, -2px -2px white;
    padding-right: 5px;
    padding-left: 5px;
  }

  /* .content-paragraph a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .content-paragraph a:hover {
    color: #bfa317;
    cursor: pointer;
  }

  .feature-one-img {
    width: 370px;
    float: left;
    margin: 5px;
  }

  .feature-two-img {
    width: 370px;
    float: right;
    margin: 5px;
  }

  .feature-one-promo {
    width: 400px;
    float: right;
    margin: 5px;
  }

  .feature-two-promo {
    width: 450px;
    float: left;
    margin: 5px;
  } */

  /* MODAL TABLET */

  .modal-open {
    padding: 8px 16px;
    color: white;
    outline: none;
    background-origin: none;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
  }

  .modal-content {
    border: #bfa317 3px solid;
    background: #fff;
    margin-top: 25px;
    width: 90%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 24px;
    border-radius: 4px;
    z-index: 4;
  }

  .modal-header {
    padding: 2px 0;
  }
  .modal-heading {
    color: black;
    font-size: 2rem;
    text-align: left;
    font-family: "UnifrakturCook", cursive;
  }

  .modal-subheading {
    color: black;
    font-size: 1.6rem;
    text-align: left;
    font-family: "Teko", sans-serif;
  }

  .modal-header .modal-close {
    float: right;
    font-size: 20px;
    background: #efefef;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 50%;
  }

  /* .modal-footer {
    padding: 15px 0;
  }

  .modal-close i {
    color: #bfa317;
    cursor: pointer;
  }

  .modal-close i:hover {
    color: black;
  } */
}
/* ------------------------------------------------ */
/* DESKTOP LAYOUT vvvv */
@media (min-width: 980px) {
  .featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: #bfa317 2px solid;
  }

  .show {
    display: block;
  }

  .mobile-button-open {
    display: none;
  }
  .mobile-button-close {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu i {
    display: none;
  }
  .fa-bars {
    display: none;
  }

  .desktop-navbar-buttons {
    width: 80%;
    font-size: 1.5rem;
    font-family: "UnifrakturCook", cursive;
  }
  .desktop-navbar-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .button {
    margin-right: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
  }

  .button:hover {
    color: #bfa317;
    cursor: pointer;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
  }

  .right-content-outer-border {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.2);
    border: #bfa317 2px solid;
    width: 100%;
  }
  .right-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    text-align: center;
    margin: 10px;
  }
  .right-content h1 {
    font-family: "UnifrakturCook", cursive;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .review-link button {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  .review-link button:hover {
    color: #bfa317;
    text-decoration: none;
  }
  .review-link {
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: #bfa317 4px solid;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: 10px;
  }
  .left-content-heading {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left-content-subheading {
    text-align: center;
    font-size: 1.8rem;
  }

  .left-content-inner-border {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px;
    border: #bfa317 4px solid;
  }

  .featured-thumbnail {
    width: 100%;
    z-index: 2;
  }

  .featured-excerpt {
    height: auto;
    width: 50%;
    margin: 5px;
    text-align: center;
    font-size: 1.6rem;
  }

  .heading {
    font-family: "UnifrakturCook", cursive;
    font-size: 4rem;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .sub-heading {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 1rem;
  }

  /* ------------------------------------------------ */
  /* REVIEW CONTENT DESKTOP */

  /* .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .album-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    width: 230px;
    height: 247px;
  }

  .film-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    width: 230px;
    height: 366px;
    width: 100%;
    position: relative;
  }

  .game-image {
    background-size: cover;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
    height: 320px;
    width: 230px;
  }

  .review-header li {
    text-align: center;
    font-size: 1rem;
    list-style: none;
  }

  .review-header span {
    font-size: 4rem;
    font-family: "UnifrakturCook", cursive;
  } */

  /* ------------------------------------------------ */
  /* ------------------------------------------------ */
  /* MUSIC REVIEW CONTENT DESKTOP*/
  .music-review-content {
    background: rgba(255, 255, 255, 0.8);
    margin: 1% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 85%;
    border: #bfa317 6px solid;
  }

  /* .content-paragraph {
    font-size: 1.5rem;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding-right: 10px;
  } */

  .music-review-content-inner-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #bfa317 1px solid;
    box-shadow: 2px 2px white, -2px -2px white;
    padding-right: 5px;
    padding-left: 5px;
  }

  /* .content-paragraph a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .content-paragraph a:hover {
    color: #bfa317;
    cursor: pointer;
  }

  .feature-one-img {
    width: 500px;
    float: left;
    margin: 5px;
  }

  .feature-two-img {
    width: 500px;
    float: right;
    margin: 5px;
  }

  .feature-one-promo {
    width: 500px;
    float: right;
    margin: 5px;
  }

  .feature-two-promo {
    width: 550px;
    float: left;
    margin: 5px;
  } */

  /* MODAL DESKTOP */

  .modal-open {
    padding: 8px 16px;
    color: white;
    outline: none;
    background-origin: none;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
  }

  .modal-content {
    border: #bfa317 3px solid;
    background: #fff;
    margin-top: 25px;
    width: 80%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 24px;
    border-radius: 4px;
    z-index: 4;
  }

  .modal-header {
    padding: 2px 0;
  }

  .modal-heading {
    color: black;
    font-size: 3rem;
    text-align: left;
    font-family: "UnifrakturCook", cursive;
  }

  .modal-subheading {
    font-size: 1.8rem;
    text-align: left;
    font-family: "Teko", sans-serif;
  }

  .modal-close i {
    color: #bfa317;
    cursor: pointer;
  }

  .modal-close i:hover {
    color: black;
  }
}

/* HOME PAGE FEATURED CONTENT */

/* <------ VUE-PORTFOLIO STYLES  ------> */

img {
  filter: grayscale(100%);
  padding: 2.5px;
  z-index: 2;
}
img:hover {
  filter: none;
}

.close {
  float: right;
  font-size: 20px;
  background: #efefef;
  border: 0;
  outline: 0;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.close:hover i {
  color: black;
}

iframe {
  margin: auto;
  width: 100%;
  border: 3px solid #bfa317;
  padding: 2px;
}
